<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Главная</title>
    <style>
        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h2>Главная страница</h2>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/requirements">
    requirements
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/users/generate?count=100">
    Users generate
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/mean">
    Average height and weight
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/space">
    Number of astronauts
</a>
</body>
</html>