<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Количество треков</title>
            <style>
        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Количество треков</h1>
<pre>
Количество треков в таблице tracks {{ result }}
</pre>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/adding_tracks">
    Добавить 100 новых треков
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/">
    Главная страница
</a>
</body>
</html>